body {
    margin: 75px 10px 0px 80px;
    max-width: 1100px;
    background-color: #d5d5d5;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: lighter;
}

h2 {
    font-weight: lighter;
    color: rgb(126, 127, 122);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

.column {
    flex: 33%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    padding-top: 8px;
    vertical-align: middle;
    width: 100%;
} 

/* image hovers */

.hoverContainer {
    position: relative;
    width: 100%;
}

.hoverContainer:hover .overlay{
    transition: 0.5s ease-in-out;
    opacity: 0.75;
}

.topText {
    padding-top: 15px;
    padding-left: 10px;
}

.bottomText {
    padding-left: 10px;
    word-wrap: normal;
}

.overlay {
    background: linear-gradient(to bottom right, #d5d5d5 51.5%, transparent 10%);
    position: absolute;
    top: 0;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

#twitter {
    float: left;
    margin-right: 25px;
    transition: transform .2s;
}

#twitter:hover {
    transform: scale(1.5);
}

#facebook {
    float: left;
    margin-right: 25px;
    transition: transform .2s;
}

#facebook:hover {
    transform: scale(1.5);
}

#linkedIn {
    float: left;
    margin-right: 25px;
    transition: transform .2s;
}

#linkedIn:hover {
    transform: scale(1.5);
}

#instagram {
    float: left;
    margin-right: 25px;
    transition: transform .2s;
}

#instagram:hover {
    transform: scale(1.5);
}

footer {
    margin: 40px 0 200px 10px;
}